*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:600px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.input-section{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

input{
    flex:1;
    padding:10px;
    font-size:16px;
}

button{
    padding:10px 15px;
    cursor:pointer;
    border:none;
    border-radius:5px;
}

#addBtn{
    background:green;
    color:white;
}

#clearBtn{
    background:red;
    color:white;
    width:100%;
    margin-top:15px;
}

ul{
    list-style:none;
}

li{
    background:#eee;
    margin:10px 0;
    padding:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-radius:5px;
}

.task-info{
    display:flex;
    flex-direction:column;
}

.date{
    font-size:12px;
    color:gray;
}

.completed{
    text-decoration:line-through;
    color:green;
}

.action-btns button{
    margin-left:5px;
}

.complete-btn{
    background:blue;
    color:white;
}

.delete-btn{
    background:red;
    color:white;
}